{% extends 'layout.html' %}

{% block content %}
    <div class="container">
        <div>
            <a class="btn btn-primary" href="/depart/add">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                新建部门
            </a>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                批量上传
            </div>
            <div class="panel-body">
                <form method="post" enctype="multipart/form-data" action="/depart/multi">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="file" name="exc">
                    </div>
                    <button type="submit" class="btn btn-primary">上 传</button>
                </form>
            </div>

        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                部门列表
            </div>


            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>部门名称</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for obj in depart_list %}
                    <tr>
                        <td>{{ obj.id }}</td>
                        <td>{{ obj.title }}</td>
                        <td>
                            <a class="btn btn-primary btn-xs" href="/depart/{{ obj.id }}/edit">编辑</a>
                            <a class="btn btn-danger btn-xs" href="/depart/del?nid={{ obj.id }}">删除</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>


        <ul class="pagination">
            {{ page_string }}
            <li>
                <form style="float: left; margin-left: -1px" method="get">
                    <input name="page"
                           style="position: relative; float: left; display: inline-block; width: 80px; border-radius: 0;"
                           type="text"
                           class="form-control"
                           placeholder="页码"
                    >
                    <button type="submit" class="btn btn-primary" style="border-radius: 0;">跳转</button>
                </form>
            </li>
        </ul>
    </div>
{% endblock %}

